@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

/* imported a custom font from google */
 @font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v31/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6BoWgz.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile First Approach */
body {
    background: url('../images/shenandoah.jpg') no-repeat center fixed;
    background-size: cover;
    font-family: "Orbitron", sans-serif;
    color: whitesmoke;
    padding: 20px;
    line-height: 1.6;
    position: relative;
}

figure {
    margin: 20px auto;
    text-align: center;
}

figure img {
    width: 100%;
    max-width: 650px;
    height: auto;
    display: grid;
    margin: 0 auto;
}

header, nav, footer {
  text-align: center;
  margin-bottom: 20px;
  
}
    header h1 {
    font-family: "Orbitron", sans-serif;
    color: black;
    }

    header nav {
    text-align: center;
    margin: 20px 0;
    }

    nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }


    .nav-list a{
        text-decoration: none;
        color: white;
    }

    .nav-list a:hover {
        color: black;
        text-decoration: none;
    }

    ul li {
        text-decoration: none;
        padding-left: 30px;
        background: url('../images/Seal_of_Virginia.svg.png') no-repeat left center;
        background-size: 20px 20px;
    }

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}

.column img {
    width: 100%;
    max-width:500px;
    height: 100%;
    max-height: 300px;
}

.reference-gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-items: center;
    padding: 1rem; 
}

.reference-gallery img {
    width: 100%;
    height: auto; 
}

footer {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: whitesmoke;
}

/* Media Query for Tablets (Medium Devices) */
@media (min-width: 600px) {
  .reference-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }

  .reference-gallery img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
  }

  figure img {
    width: 100%;
    max-width: 650px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  nav ul {
    flex-direction: row;
    justify-content: center;
  }
  .container {
    flex-direction: row;
  }
}

/* Media Query for Desktops (Large Devices) */
@media (min-width: 900px) {
  .reference-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
  }

  .reference-gallery img {
    height: auto;
    padding: 1rem;
  }

  nav ul {
    flex-direction: row;
    justify-content: center;
  }

  figure img {
    width: 30%;
    max-width: 650px;
    height: auto;
    display: block;
    margin: 0 auto;
}
}